.search-icon {
    color: darkgrey;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.main-img {
    z-index: 0;
}

.text-over-img {
    z-index: 1;
    font-size: 2.2em;
    margin-top: -50px;
    color: white;
}

.article-text{
    font-weight: bold;
    color: white;
}

.profile-image {
    width: 35px;
    height: 35px;
}

.width-150 {
    width: 150px;
}

.post-text {
    font-size: 12px;
}

.account-name {
    font-size: 14px;
}

.w-85 {
    width: 85%;
}

.rounded {
    border-radius: 100%;
}
